@import url('./src/styles/frame.css');
@import url('./src/styles/library.css');

/* SuperNav DropDown */

._3pofGqV0buiKAfMPEs3_82 {
    background: transparent !important;
}

hr._2jXHP0742MyApMUVUM8IFn._21GPYlKBCLsHQpTsHw_RL_ {
    border-bottom: .2px solid #404040 !important;
}

.LQkrbbayZPY11qHm01t7F.visible._2qyBZV8YvxstXuSKiYDF19 {
    min-width: 150px !important;
}

