._20QAC4WMXm8qFE8waUT5oo {
    right: 8px !important;
    left: unset !important;
}

._20QAC4WMXm8qFE8waUT5oo::after {
    left: calc(-100vw - -270px) !important;
}

._2TKEazUUS3TlniZfpc8OOe {
    right: 267px !important;
    left: unset !important;
}

._2TKEazUUS3TlniZfpc8OOe {
    position: absolute !important;
}

._1ijTaXJJA5YWl_fW2IxcaT {
    right: 15px !important;
    left: unset !important;
}