._3O48LaKWcabKx07xdrt1TH {
    display: block !important;
}

a._3pSPluBgf0NeR1kkCLWMhR {
    width: unset !important;
}

.nC-pL16iUnIRcaj1UVnwq::after {
    content: "Collections";
    font-family: "Segoe UI Variable Text", "Segoe UI" !important;
    font-size: 13px;
    letter-spacing: normal !important;
}

._2CEKFex6JMsAse2lqMMjUp {
    width: fit-content !important;
}

.nC-pL16iUnIRcaj1UVnwq {
    margin-left: 45px;
}

._2TKEazUUS3TlniZfpc8OOe {
    position: absolute !important;
    left: 10px;
}

._20QAC4WMXm8qFE8waUT5oo {
    right: 8px !important;
    left: unset !important;
}

._1ijTaXJJA5YWl_fW2IxcaT {
    right: 15px !important;
    left: unset !important;
}

._20QAC4WMXm8qFE8waUT5oo::after {
    left: calc(-100vw - -270px) !important;
}
