._3pofGqV0buiKAfMPEs3_82 .contextMenuItem::before {
    margin-right: 10px;
    margin-left: -5px;
    font-family: FluentSystemIcons;
    font-size: 18px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

._3pofGqV0buiKAfMPEs3_82 .contextMenuItem:nth-child(1)::before {
    content: "";
}

._3pofGqV0buiKAfMPEs3_82 .contextMenuItem:nth-child(3)::before {
    content: "";
}

._3pofGqV0buiKAfMPEs3_82 .contextMenuItem:nth-child(5)::before {
    content: "";
}

._3pofGqV0buiKAfMPEs3_82 .contextMenuItem:nth-child(7)::before {
    content: "";
}

._3pofGqV0buiKAfMPEs3_82 .contextMenuItem:nth-child(9)::before {
    content: "";
}

._3pofGqV0buiKAfMPEs3_82 .contextMenuItem:nth-child(11)::before {
    content: "";
}

html .DesktopUI #popup_target .LQkrbbayZPY11qHm01t7F.visible._2qyBZV8YvxstXuSKiYDF19 {
    position: absolute !important;
}