@import url(rootMenu.css);
/* Library */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:first-child::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:first-child:hover::before {
    content: "";
}
/* Downloads */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(6)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(6):hover::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(8)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(8):hover::before {
    content: "";
}
/* Small Mode */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(11)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(11):hover::before {
    content: "";
}
/* Big Picture */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(13)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(13):hover::before {
    content: "";
}
/* Music Player */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(15)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(15):hover::before {
    content: "";
}
/* Players */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(4)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(4):hover::before {
    content: "";
} 
/* Friends and Chat */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(16)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(16):hover::before {
    content: "";
}
/* Player */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(18)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(18):hover::before {
    content: "";
}
/* Servers */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(20)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(20):hover::before {
    content: "";
}
/* Screenshots */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(22)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(22):hover::before {
    content: "";
}
/* Inventory */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(24)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(24):hover::before {
    content: "";
}
/* Update News */
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(26)::before {
    content: "";
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG.pFo3kQOzrl9qVLPXXGIMp.contextMenuItem:nth-child(26):hover::before {
    content: "";
}